html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--black-color);
}
:root  {
    --red-color: #ff0000;
    --yellow-color: #ffff00;
    --black-color: #000000;
    --white-color: #ffffff;
    --off-white-color: #f8f8ff;
    --flag-hw: 200px;
}


.flag-japan{

    height: var(--flag-hw);
    width: var(--flag-hw);
    background: var(--white-color);

    margin : 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.circle {
    border-radius: 50%;
    height : calc(var(--flag-hw) * 6/16);
    width  : calc(var(--flag-hw) * 6/16);
    background: var(--red-color);
}
